

<div *ngIf="tableLoaded" class="table-responsive">
<table datatable [dtOptions]="dtOptions" class="row-border hover table">


        <thead>
                <tr>
                        <th></th>
                        <th>State/UT</th>
                        <th>Confirmed</th>
                        <th>Active</th>
                        <th>Recovered</th>
                        <th>Deaths</th>
                </tr>
            </thead>

            <tbody *ngIf="states?.length != 0">
                <tr #trRef *ngFor="let state of states">
                    <td (click)="expandRow(trRef, state)"></td>
                    <td (click)="expandRow(trRef, state)">{{state.state}}</td>
                    <td  (click)="expandRow(trRef, state)">{{state.confirmed}}</td>
                    <td (click)="expandRow(trRef, state)" >{{state.active}}</td>
                    <td (click)="expandRow(trRef, state)" >{{state.recovered}}</td>
                    <td  (click)="expandRow(trRef, state)">{{state.deaths}}</td>
                </tr>
            </tbody>

            <tbody *ngIf="states?.length == 0">
                <tr>
                    <td colspan="3" class="no-data-available">No data!</td>
                </tr>
            </tbody>







</table>
</div>
<div *ngIf="!tableLoaded">
    Loading

</div>

<!-- 
<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th>State/UT</th>
                <th>Confirmed</th>
                <th>Active</th>
                <th>Recovered</th>
                <th>Deaths</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Salary</th>
            </tr>
        </tfoot>
    </table> -->








<!-- 
<table style="width:100%">
        <tr>
          <th>State/UT</th>
          <th *ngFor="let statistic of STATE_ROW_STATISTICS ">{{statistic}}</th> 
          
        </tr>

<tr *ngFor="let state of states">
    <td  >{{state.state}}</td>
    <td  >{{state.confirmed}}</td>
    <td  >{{state.active}}</td>
    <td  >{{state.recovered}}</td>
    <td  >{{state.deaths}}</td>
</tr>

</table> -->

<!--
     <app-row [state]="state" [districts]="districts[state]" [zones]="zones">

</app-row> 
-->
